.menu--item {
  border-radius: 1.25rem 0 0 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #defef0;
  margin-bottom: 24px;
  &-blue {
    background-color: rgba(122, 179, 243, 0.2);
  }
  &-pink {
    background-color: rgba(233, 121, 178, 0.2);
  }
  &-white {
    background-color: rgba(215, 215, 249, 0.2);
  }
  &-green {
    background-color: rgba(120, 247, 187, 0.2);
  }
  img {
    width: 9.25rem;
    height: 100%;
    translate: -1.5rem -0.75rem;
  }
  .item--content {
    display: flex;
    flex-direction: column;
    max-width: 9rem;
    gap: 1rem;
    transform: translateY(1.25rem);
    h3,
    p {
      margin: 0;
      line-height: 1;
    }
    p {
      font-size: 1.25rem;
      font-weight: 400;
    }
    h3 {
      font-size: 2rem;
      font-weight: 700;
    }
    button {
      appearance: none;
      border: none;
      border-radius: 9999px;
      margin-bottom: -0.5px;
      padding: 4px 18px;
      background-color: #6b00f5;
      color: #ffffff;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
